<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Friends App', root_path, class:"navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        	<%= link_to 'About Us', home_about_path,class:"nav-link"  %>
          
        </li>

      	<li class="nav-item">
      		<%= link_to 'Frinds List', friends_path, class:"nav-link" %>
        </li>

        

        <!--add further 4 options on navigate button for login project -->
        <% if user_signed_in? %>
             <li class="nav-item">
                <%= link_to 'Sign Out', destroy_user_session_path,method: :delete, class:"nav-link" %>
              </li>

              <li class="nav-item">
                  <%= link_to 'Edit Profile', edit_user_registration_path, class:"nav-link" %>
              </li>

              <li class="nav-item">
                  <%= link_to 'Add a Friend', new_friend_path, class:"nav-link" %>
              </li>


        <% else %>

            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to 'Sign In', new_user_session_path, class:"nav-link" %>
            </li>

        <% end %>

        </ul>
       
      </div>
    </div>
  </div>
</nav>